<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About us</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.css" rel="stylesheet">
    <script src="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.18.2/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>

</head>

    {%include "./navbar_static.html"%}

    <body>
        <h1>About us</h1>
        
        <div class="container-fluid">
            Welcome to Best Cars dealership, home to the best cars in North America. We sell domestic and imported cars at reasonable prices.
            <br>
            <img class="image" width="300px" src="https://www.publicdomainpictures.net/pictures/270000/nahled/car-dealership-car-car-showroom.jpg" alt="Dealership">
            <!-- {% load static %}
                <img src="{% static 'djangoapp/example.jpg' %}" alt="https://media.istockphoto.com/photos/test-drive-concept-picture-id1135541222?k"> -->
            </div>
        
    </body>

</html>