<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Dealership Review</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body> 
    <!--Add a nav bar here -->
    {%include "./navbar_static.html"%}

    {% if user.is_authenticated %}
    <a href="{% url djangoapp:add_review%}"></a>    <!-- go to give a review -->
    {%endif%}
    <br>
    --ADD REVIEW BUTTON!--
    <!-- Add reviews as cards -->
    <div class="card-columns">
        {% foreach review in dealer_reviews %}
        <div class="card">
            <img class="card-img-left"> <!-- src="{{MEDIA_URL}}/emoji/positive.png" -->
            <div class="card-body">
                <div class="card-text">{{dealer.model}}</div>
                <div class="card-text">{{dealer.year}}</div>
                <div class="card-text">{{dealer.make}}</div>
                <h6 class="card-text">{{dealer.review}}</h6>
            </div>
        </div>
        {%endfor%}
    </div>

</body>

</html>