<!DOCTYPE html>
<html>

<head>
    <title>Login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>

<body>
    {% include "./navbar_static.html" %}

    <form class="form-inline" action="{% url 'djangoapp:index' %}" method="post">
        {% csrf_token %}
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Username" name="username">
            <input type="password" class="form-control" placeholder="Password" name="psw">
            <a class="btn btn-link" href="{% url 'djangoapp:login_request' %}">Log in</a>
        </div>
    </form>

    <form action="{%  url 'djangoapp:login_request' %}" method="post">
        <div class="container">
            {% csrf_token %}
            <h1>Sign up here</h1>
            <hr>
            <div class="form-group">
                <!--Username-->
                <label for="username">User Name</label>
                <input type="text" class="form-control" placeholder="Enter a new user name" name="username" required>
                <!--password-->
                <label for="psw"><b>Password</b></label>
                <input type="password" class="form-control" placeholder="Enter Password: " name="psw" required>
                {% if message %}
                <div class="alert alert-warning">{{message}}</div>
                {% endif %}
                <button class="btn btn-primary" type="submit">Log in</button>
            </div>
        </div>
    </form>

</body>

</html>